// @use 'colors';
@import 'colors';
@import 'mixins';

header.page-header {
  height: 520px;
  border-top: 120px solid transparent;
  /* from trasnparenhsl(42, 90%, 38%)es.com */
  background-color: $yellow-tone;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  @include flexVerticalAlign;
  justify-content: flex-end;
  margin-bottom: 2em;

  h2 {
    color: #ffffff;
  }

  .first-name {
    font-weight: 600;
  }

  .last-name {
    font-weight: 300;
  }
}

@media only screen and (min-width: 1024px) {
  header.page-header {
    width: 40%;
    float: left;
    height: auto;

    /* need to reassign all border elements, style, with and color */
    padding-top: 2em;
    border-style: solid;
    border-color: $background-main;
    border-width: 3em 2em 0 2em;
  }
}