@import 'colors';

.new-tweet {
  position: relative;
}

form textarea {
  border: none;
  background-color: inherit;
  width: 100%;
  font-weight: 600;
  border-bottom: 4px solid $writing-main;
}

form .form-footer {
  margin-top: .3em;
}

form output {
  font-family: 'Bungee';
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

#form-error {
  display: none;
  border: 4px solid $writing-main;
  box-shadow: 0 0 10px 10px #aabedf;
  text-align: center;
  color: red;
  position: absolute;
  top: -0.5em;
  width: 100%;
  z-index: 100;
  background: $background-main;
}

#form-error button {
  margin-bottom: 1em;
}

#form-error p {
  margin: .5em 0;
}

#form-error i {
  font-size: 2em;
  margin-top: .4em;
}