@import 'colors';

article.tweet-container {
  margin: 2em 0;
  border: 4px solid $writing-main;
  padding: .5em;

  // article.tweet-container:hover {
  //   box-shadow: 10px 10px $writing-secondary;
  // }
  // Equivalent to
  &:hover {
    box-shadow: 10px 10px $writing-secondary;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
    font-weight: 300;

    .name-image {
      display: flex;
      align-items: center;
      gap: .6em;
    }

    .user-tag {
      color: $writing-secondary
    }
  }

  p {
    padding: 0 .7em;
    margin: 1.5em 0 1.2em;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    padding: .8em .8em 0em;
    border-top: 4px solid $writing-main;
    font-size: .7em;
  }
}

.icons {
  color: #4056A1;

  .fa-solid {
    padding: 0 0.3em;

    &:hover {
      color: $yellow-tone;
      cursor: pointer;
    }
  }

}