form textarea {
  border: none;
  background-color: inherit;
  width: 100%;
  /* font-family: 'bungee'; */
  font-weight: 600;
  border-bottom: 4px solid #545149;
}

form .form-footer {
  margin-top: .3em;
}

form output {
  font-family: 'Bungee';
}

/* textarea::after {
  content: "";
  /* Add content (empty) for the pseudo-element */
/* display: block; */
/* margin-top: 5px; */
/* Ensure it's a block-level element */
/* border: 2px solid #545149; */
/* } */

.form-footer {
  display: flex;
  justify-content: space-between;
}