header.page-header {
  height: 520px;
  border-top: 120px solid transparent;
  /* from trasnparenttextures.com */
  background-color: #b7830a;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

header.page-header h2 {
  color: #ffffff;
}

h2 .first-name {
  font-weight: 600;
}

h2 .last-name {
  font-weight: 300;
}