nav {
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  padding: 0 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav>.page-title {
  font-family: 'Bungee',
    cursive;
}

/*  */
nav>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* or nav>div>.icon */
nav .arrow-icon {
  color: red;
}

@media only screen and (min-width: 1024px) {
  nav {
    position: sticky;
  }
}