form textarea {
  border: none;
  background-color: inherit;
  width: 100%;
  font-weight: 600;
  border-bottom: 4px solid #545149;
}

form .form-footer {
  margin-top: .3em;
}

form output {
  font-family: 'Bungee';
}

.form-footer {
  display: flex;
  justify-content: space-between;
}